<IfModule mod_rewrite.c>
  RewriteEngine On

  # Se o projeto estiver com webroot na raiz
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.php [L]
</IfModule>

